.header-payroll
  position relative
  height 150px
  display flex
  align-items center
  .right-text
    position absolute
    right 20px
    top 50%
    transform translateY(-50%)
    .item-text
      line-height 2