<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.neo.mapper.UserInfoMapper">

    <select id="fetchUserInfo" resultType="com.example.neo.entity.CompanyInfo">
      SELECT * FROM user_info where user_id = #{userId}
    </select>

    <insert id="insertUserInfo" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user_info (
         user_id, user_name, company, tax_number, company_mobile, company_address, fixed_telephone, rate, industry, bank, bank_account,
         receiver_name, receiver_mobile, receiver_address, create_timestamp, update_timestamp
        ) VALUES (
        #{userId},#{userName},#{company},#{taxNumber},#{companyMobile},#{companyAddress},#{fixedTelephone},#{rate},
        #{industry},#{bank},#{bankAccount},#{receiverName},#{receiverMobile},#{receiverAddress},#{createTimestamp},#{updateTimestamp}
        )
    </insert>

    <update id="updateUserInfo">
        UPDATE user_info SET user_name=#{userName},company=#{company},tax_number=#{taxNumber},company_mobile=#{companyMobile},company_address=#{companyAddress},
        fixed_telephone=#{fixedTelephone},rate=#{rate},industry=#{industry},bank=#{bank},bank_account=#{bankAccount},receiver_name=#{receiverName},
        receiver_mobile=#{receiverMobile},receiver_address=#{receiverAddress},update_timestamp=#{updateTimestamp}
        WHERE user_id=#{userId}
    </update>
</mapper>
