<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.neo.mapper.UserMapper">

    <select id="findByUserMobile" resultType="com.example.neo.entity.User">
      SELECT * FROM neo_user where mobile = #{mobile}
    </select>
    <select id="findByUserId" resultType="com.example.neo.entity.User">
      SELECT * FROM neo_user where id = #{userId}
    </select>

    <select id="findRoleByUserId" resultType="com.example.neo.entity.Role">
      SELECT * FROM neo_role where id = #{roleId}
    </select>

    <insert id="createUser" useGeneratedKeys="true" keyProperty="id">
      INSERT INTO neo_user (
        password, username, mobile, is_locked, role_id, related_id, creator_id, creator_date, update_id, update_date
      )  INTO (
      #{password},#{username},#{mobile},#{is_locked},#{role_id},#{related_id},#{creator_id},#{creator_date},#{update_id},#{update_date}
      )
    </insert>

    <update id="changePassword">
        UPDATE neo_user SET password = #{pwd.newPwd} WHERE user_id=#{userId}
    </update>
</mapper>
