<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.neo.mapper.UserMapper">

    <select id="findByUserMobile" resultType="com.example.neo.model.User">
      SELECT * FROM user where mobile = #{mobile}
    </select>
    <select id="findByUserId" resultType="com.example.neo.model.User">
      SELECT * FROM user where user_id = #{userId}
    </select>

    <insert id="createUser" useGeneratedKeys="true" keyProperty="id">
      INSERT INTO user (
      user_id, user_name, mobile, password, status, role, create_timestamp, update_timestamp
      ) INTO (
      #{user_id},#{user_name},#{mobile},#{password},#{status},#{role},#{create_timestamp},#{update_timestamp}
      )
    </insert>

    <update id="changePassword">
        UPDATE user SET password = #{pwd.newPwd} WHERE user_id=#{userId}
    </update>
</mapper>
