.content
  min-height calc(82vh)
  padding 5px
  overflow-y scroll
  margin 24px 16px
.ant-card
  height 100%
aside.ant-layout-sider.ant-layout-sider-dark
  box-shadow 0 0 10px #999
:global
  .ant-spin
    padding-top 100px
.header
  display flex
  justify-content space-between
  align-items center
  background-color #fff
  box-shadow 0 5px 5px rgba(0, 0, 0, 0.01)
  transition all 0.2s ease-in-out
  padding-left 24px
