.recharge
  .recharge-form
    width 600px
    margin 0 auto
  .muban
    display block
    margin 0 0 20px 200px
.bill-form
  margin-top 50px
  width 600px
  margin-left 200px
.bill-table
  max-height 180px
  overflow hidden
  overflow-y auto